@media only screen and (max-width: 700px) {
  
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    }
    body h1{
        font-size: 42px;
    }
    body h3{
        font-size: 22px;
    }
    #home{
        display: grid;
        height: 100vh;
        min-height: 500px;
        background-size: cover;
        background-attachment: fixed;
    }
    #info{
        display:block;
    }
  
    #profile-pic img{
    width: 50vh;
    background-color: crimson;
    border-top-left-radius: 20%;
    border-top-right-radius: 65%;
    border-bottom-right-radius: 145%;
    border-bottom-left-radius: 535%;
    float: none;   
    }
    #info{
        float: none;
        margin: 20px;
    }
    #info a{
        font-size: 12px;
        
    }
    
    /* about me */
    
    #about-me{
    position: relative;
    height: 170vh;
    }
    .heading{    
    margin-top: 15%;
    }
    .line{
        height: 4px;
        width: 100px;
    }
    #about-me img{
        width: 80%;
        height: 90%;
        float: none;
        margin: 0 10%;
    }
    .skills{
        position: relative;
<<<<<<< HEAD
        top: 20%;
=======
        top: 15%;
>>>>>>> b08525e7eeeea9c175c7f71d7cc80f527303b71d
        
    }
    
    .skills .left h4{
        font-size:26px;
        padding: 1% 0;
    }
    .skills .container .row .col{
        padding: 0;
        margin: 0;
    }
    .hpad{
        padding: 0;
    }
    .skills .left{
        padding: 6%;
    }
    .skills .right{
        padding: 5%;
    }

    
    /*------------Contact --------*/
    
    #contact{
        position: relative;
<<<<<<< HEAD
        height: 80vh;
=======
        height: 100vh;
>>>>>>> b08525e7eeeea9c175c7f71d7cc80f527303b71d
    }
    .contact .data i{
        width: 8vh;
    }
    .contact .data .info{
        width: 30vh;
    }
    .handsake{
        display: none;
    }
    footer{
        position: relative;
        
    }
    footer h6{
        font-size: 2vh;
    }
    
    
}
